@page "/qr-redirect"

@using Blazorise.LottieAnimation

@inject DeliCheckClient _client
@inject NavigationManager _nav
@inject NotificationService _notify

<PageTitle>ДелиЧек — QR</PageTitle>

<RadzenStack Orientation="Orientation.Vertical" JustifyContent="JustifyContent.Center" AlignItems="AlignItems.Center" style="width: 100%; margin-top: 1rem">
    <div class="rz-shadow-2 rz-border-radius-2 rz-mb-1 card" style="padding: 2rem; max-width: 350px;">
        <LottieAnimation Path="https://lottie.host/c0963a9f-abb5-4586-99c4-1dba69a48a16/xVH2YwVDUT.json"
        Loop="true"
        Paused="false"
        style="aspect-ratio: 1; width: 100%; max-width: 200px; margin-inline: auto; margin-bottom: 1rem;"></LottieAnimation>
    </div>
</RadzenStack>


@code {
    protected override async Task OnInitializedAsync()
    {
        var url = await _client.GetQrRedirect();
        _nav.NavigateTo(url.RelativeUrl);
    }
 }
